body {
	background-color: blue;
}


div {
	width: 100%;
	height: 200px;
	color: black;
	font-size: 10em;
	align-self: center;
	background-color: red;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

/*
.textwindow {
	color: rgba(255, 255, 255, 1);
}*/