doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel='stylesheet' href='/static/css/style.css')
body
    section
        h1 Welcome to the About page!
        p Did you know? 
        p Otters curabitur ullamcorper commodo eros. Pellentesque ac tincidunt eros. Mauris eu erat ac est tempus tincidunt. Pellentesque eu quam tincidunt, congue nisi in, ultrices elit. Proin pretium magna at felis efficitur tincidunt. Mauris sed varius orci, sit amet egestas mauris. Nunc id volutpat tellus.
    include footer