doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
form(action='/create-post' method='POST')
  textarea(name='blogpost' rows='5' placeholder='Write a new blog post!')
  button(type='submit') Publish