footer
    .footer-container
        span.footer-index.hover-grow
            a(href='/index') Index
        span.footer-contact.hover-grow
            a(href='/contact') Contact
        span.footer-about.hover-grow
            a(href='/about') About
        br
        span.footer-copyright © 2020 Otter Nonsense. All rights reserved